version: '3.8'

services:
  kartel:
    image: ghcr.io/teknologi-umum/kartel:latest
    container_name: kartel
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - /home/mfirhas/.env
    networks:
      - kartel-network

networks:
  kartel-network:
    driver: bridge
