services:
  kartel:
    image: ghcr.io/teknologi-umum/kartel:latest
    container_name: kartel
    restart: unless-stopped
    environment:
      - KARTEL_BOT_TOKEN=${KARTEL_BOT_TOKEN}
      - KARTEL_WEBHOOK_PORT=${KARTEL_WEBHOOK_PORT}
      - KARTEL_API_PORT=${KARTEL_API_PORT}
    networks:
      - kartel-network

networks:
  kartel-network:
    driver: bridge
